html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=y9zqigrqs52xwnc8kuybf8spcuigzh6o4urg7e5pmk1vwcdu")
  body
    header.header-container 
      .top-navigation
        h4 Radon
        a.btn.btn-danger(href='#') Sign out
    .content-container
      .side-bar
        ul 
          li
            a(href='#') Add post
          li
            a(href='#') View posts
      if postId === undefined
        - var address = '/admin/add_article'
        - var buttonText = 'Add Article'
        - var formMethod = 'POST'
      else 
        - var address = '/admin/edit_article/' + article._id
        - var buttonText = 'Edit Article'
        - var formMethod = 'POST'
      .page-content
        if (message !== undefined)
          .alert.alert-danger
            string Note!
            span= message
        form(method=formMethod action=address class='form' enctype="multipart/form-data")
          input(type='file' name='articleImage')
          div.form-group
            input#name.form-control(type='text' placeholder='Post Heading' name='heading' value=article.title required)
          textarea#postContent(name="content" rows=10)= article.content
          button.btn.btn-primary(type='submit' style='margin-top: 10px;')= buttonText
  script.
    tinymce.init({ selector:'textarea', inline_styles : false });