extends admin-layout

block content
  if postId === undefined
    - var address = '/admin/add_article'
    - var buttonText = 'Add Article'
    - var formMethod = 'POST'
  else 
    - var address = '/admin/edit_article/' + article._id
    - var buttonText = 'Edit Article'
    - var formMethod = 'POST'
  .page-content
    if (message !== undefined)
      .alert.alert-danger
        string Note!
        span= message
    form(method=formMethod action=address class='form' enctype="multipart/form-data")
      input(type='file' name='articleImage')
      div.form-group
        input#name.form-control(type='text' placeholder='Post Heading' name='heading' value=article.title required)
      textarea#postContent(name="content" rows=10)= article.content
      button.btn.btn-primary(type='submit' style='margin-top: 10px;')= buttonText   