doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/querypage.css')
        

  body
    //Navigation Bar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/') Radon
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #topBar.collapse.navbar-collapse
          ul.navbar-nav.ml-auto 
            li.nav-item
              a.btn.btn-dark(href='/discussions') Discussions
            li.nav-item
              a.btn.btn-dark(href='/user/signin') Login
  
        //- #topBar.collapse.navbar-collapse
        //-   ul.navbar-nav.ml-auto
        //-     li.nav-item
        //-       a.nav-link(href='/discussions') Discussions
    // Navigation Bar ends here

    block content
      br
      br
      br
      .query
        
        .query-details
          a(href="/discussions/" + queryTopic)
          h1= queryTopic
          p= queryDetails
          
          //- .tags
          //-   each tag in tags
          //-     span= tag.name
          .query-date= date 
        .user-details
          //- img(src=user.img, alt="")
          img(src='/images/userIcon.png', alt="")
          //- h6(style="color:green;")= user.userName 
      br 
      hr
      h5 Comments
      br
      //- //- hr
      //- .separator
      //- .discussion-responses  
      //-   each comment in comments
      //-     .comment-details
      //-       .user-details
      //-         //- img(src=comment.user.img, alt="")
      //-         img(src='/images/userIcon_comment.png', alt="")
      //-         //- h6(style="color:green;")= comment.user.userName
      //-       //- .query-details
      //-       //-   p= comment.comment
      //-       //-   .query-date= date